/*------------------------------------------------------------------
Basic and background
------------------------------------------------------------------*/
@font-face {
  font-family: "Roboto-Mono";
  src: url("./assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Raleway-Black";
  src: url("./assets/fonts/Raleway/Raleway-Black.ttf");
}

@font-face {
  font-family: "Raleway-Black-Italic";
  src: url("./assets/fonts/Raleway/Raleway-BlackItalic.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("./assets/fonts/Raleway/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway-Bold-Italic";
  src: url("./assets/fonts/Raleway/Raleway-BoldItalic.ttf");
}

@font-face {
  font-family: "Raleway-Extra-Bold";
  src: url("./assets/fonts/Raleway/Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: "Raleway-Extra-Bold-Italic";
  src: url("./assets/fonts/Raleway/Raleway-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "Raleway-Extra-Light";
  src: url("./assets/fonts/Raleway/Raleway-ExtraLight.ttf");
}

@font-face {
  font-family: "Raleway-Extra-Light-Italic";
  src: url("./assets/fonts/Raleway/Raleway-ExtraLightItalic.ttf");
}

@font-face {
  font-family: "Raleway-Italic";
  src: url("./assets/fonts/Raleway/Raleway-Italic.ttf");
}

@font-face {
  font-family: "Raleway-Light";
  src: url("./assets/fonts/Raleway/Raleway-Light.ttf");
}

@font-face {
  font-family: "Raleway-Light-Italic";
  src: url("./assets/fonts/Raleway/Raleway-LightItalic.ttf");
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("./assets/fonts/Raleway/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Raleway-Medium-Italic";
  src: url("./assets/fonts/Raleway/Raleway-MediumItalic.ttf");
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("./assets/fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Semi-Bold";
  src: url("./assets/fonts/Raleway/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: "Raleway-Semi-Bold-Italic";
  src: url("./assets/fonts/Raleway/Raleway-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "Raleway-Thin";
  src: url("./assets/fonts/Raleway/Raleway-Thin.ttf");
}

@font-face {
  font-family: "Raleway-Thin-Italic";
  src: url("./assets/fonts/Raleway/Raleway-ThinItalic.ttf");
}

a {
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

#wrapper {
  width: 100%;
}

dl,
dt,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #000;
  background-image: radial-gradient(circle at top right, #7a449c21, transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

canvas#bg-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#content {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*------------------------------------------------------------------
Top Navbar
------------------------------------------------------------------*/

#header {
  font-family: "Roboto-Mono";
  position: relative;
}

#header,
#header-wrap,
#logo a {
  height: 100px;
  transition: height 0.4s ease, opacity 0.3s ease;
}

#header.dark.transparent,
#header.dark.transparent #header-wrap,
#header.dark.sticky-nav.tansparent #header-wrap {
  background-color: transparent;
}

#header-wrap {
  width: 100%;
  position: relative;
  z-index: 100;
}

#header.sticky-nav,
#header.sticky-nav #header-wrap,
#header.sticky-nav #header-wrap #logo a {
  height: 60px;
  transition: height 0.4s ease, opacity 0.3s ease;
}

#header.sticky-nav #header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#header .container {
  position: relative;
}

#primary-menu-trigger {
  opacity: 0;
  display: none;
  cursor: pointer;
  font-size: 30px;
  position: relative;
  float: right;
  line-height: 100px;
  text-align: center;
  transition: opacity 0.3s ease, line-height 0.3s ease, font-size 0.3s ease;
}

#primary-menu-trigger i {
  border: 1px solid transparent;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  padding: 10px;
  transition: all 0.3s ease;
}

#primary-menu-trigger i:hover {
  border: 1px solid #eee;
}

.sticky-nav #primary-menu-trigger {
  font-size: 25px;
  line-height: 60px;
}

#logo {
  position: relative;
  float: left;
  font-size: 36px;
  line-height: 100%;
  margin-right: 20px;
}

#header-wrap #logo {
  opacity: 1;
  transition: height 0.4s ease, margin 0.4s ease, opacity 0.2s ease;
}

.dark #logo a {
  color: #eee;
  line-height: 100px;
}

.dark.sticky-nav #logo a {
  color: #eee;
  line-height: 60px;
}

#logo a.brayan-logo {
  display: block;
}

#logo img {
  display: block;
  max-width: 100%;
}

a img {
  border: none;
}

#header.sticky-nav #logo img {
  height: 60px;
}

#primary-menu {
  float: right;
  position: relative;
  z-index: 100;
}

#primary-menu ul {
  list-style: none;
  margin: 0;
}

#primary-menu > ul > li:first-child {
  margin-left: 0;
}

#primary-menu ul > li {
  float: left;
}

#primary-menu ul li {
  position: relative;
}

.dark #header-wrap #primary-menu > ul > li > a {
  color: #eee;
}

#primary-menu ul li > a {
  display: block;
  line-height: 22px;
  padding: 10px;
  margin: 27px 3px;
  font-size: 18px;
  letter-spacing: 1px;
  transition: margin 0.4s ease, padding 0.4s ease;
}

#header.sticky-nav #primary-menu > ul > li > a {
  padding-top: 0;
  padding-bottom: 12px;
  margin: 19px 0 5px 0;
}

@media (max-width: 767px) {
  #wrapper {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  #header,
  #header-wrap {
    height: auto !important;
  }

  #header.sticky-nav #header-wrap {
    position: relative;
  }

  #primary-menu-trigger {
    opacity: 1;
    display: block;
    transition: opacity 0.2s 0.2s ease, top 0.4s ease, display 0.4s ease;
    pointer-events: auto;
    line-height: 100px;
    margin-top: 0;
    left: 0;
    z-index: 100;
  }

  #logo {
    display: block;
    height: 100px;
    float: left;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  #logo a.brayan-logo {
    display: inline-block;
  }

  #primary-menu {
    display: none;
    float: none;
  }
}

/*------------------------------------------------------------------
Side Navbar
------------------------------------------------------------------*/

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.side-nav {
  font-family: "Roboto-Mono";
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  animation: show 0.5s;
}

.side-nav .row {
  height: 100%;
  background-color: rgba(238, 238, 238, 0.363);
}

.side-nav .row .col-sm-6:first-child {
  padding-right: 0;
}

.side-nav .row .col-sm-6:last-child {
  padding-left: 0;
}

.side-nav .blur-overlay {
  height: 100%;
}

@keyframes side-nav-expand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.side-nav .side-nav-section {
  position: relative;
  float: right;
  width: 100%;
  animation: side-nav-expand 0.5s;
  background-color: #05161f;
  height: 100%;
  text-align: center;
}

.side-nav .side-primary-menu-trigger {
  cursor: pointer;
  font-size: 30px;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  transition: opacity 0.3s ease;
}

.side-nav .side-primary-menu-trigger i {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px;
  height: 50px;
  width: 50px;
  transition: all 0.3s ease;
}

.side-nav .side-primary-menu-trigger i:hover {
  border: 1px solid #eee;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.side-nav.close-menu {
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  animation: hide 0.5s;
}

@keyframes side-nav-collapse {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.side-nav.close-menu .side-nav-section {
  position: relative;
  float: right;
  width: 0;
  animation: side-nav-collapse 0.5s;
  background-color: #05161f;
  height: 100%;
  text-align: center;
}

.side-nav .side-primary-nav {
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

.side-nav .side-primary-nav ul {
  list-style: none;
}

.side-nav .side-primary-nav ul li {
  padding: 10px 0;
}

/*------------------------------------------------------------------
Welcome Section
------------------------------------------------------------------*/

#home {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  font-family: "Raleway-Regular";
}

#home #wrapper,
#home #wrapper .container {
  height: 100%;
}

#home .welcome-content {
  padding: 150px 0;
}

#home h3 {
  font-size: 30px;
  font-family: "Roboto-Mono";
}

#home h1 {
  font-size: 60px;
  font-family: "Raleway-Extra-Bold";
  padding: 10px 0;
}

#home p {
  font-size: 23px;
  font-family: "Raleway-Regular";
}

#home .btn {
  margin: 10px;
  height: 60px;
  width: 200px;
  text-align: center;
  font-family: "Roboto-Mono";
}

@media (max-width: 767px) {
  #home .welcome-content {
    padding-top: 100px;
  }

  #home h3 {
    font-size: 30px;
  }

  #home h1 {
    font-size: 50px;
    font-family: "Raleway-Bold";
  }

  #home p {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  #home .welcome-content {
    padding: 80px 0;
  }
}

@media (max-width: 320px) {
  #home .welcome-content {
    padding: 75px 0;
  }
}

/*------------------------------------------------------------------
About Section
------------------------------------------------------------------*/

#about {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 90%;
  font-family: "Raleway-Regular";
  padding-top: 100px;
}

#about #about-title h2 {
  font-size: 40px;
  font-family: "Roboto-Mono";
  line-height: 50px;
  text-decoration: underline;
}

#about .profile-photo {
  border: 2px solid #eee;
  padding: 10px;
  margin: 20px;
  height: 315px;
  width: auto;
  transition: all 0.2s ease;
}

#about .profile-photo:hover {
  border: 3px solid #eee;
  padding: 5px;
}

#about .text {
  font-family: "Raleway-Regular";
  font-size: 20px;
  margin-top: 25px;
}

@media (max-width: 991px) {
  #about .profile-photo {
    height: 240px;
  }
}

@media (max-width: 767px) {
  #about .text {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  #about .profile-photo {
    height: 210px;
  }
}

/*------------------------------------------------------------------
Skills Section
------------------------------------------------------------------*/

#skill {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  font-family: "Raleway-Regular";
  padding: 100px 0;
}

#skill #skill-title h2 {
  font-size: 40px;
  font-family: "Roboto-Mono";
  text-decoration: underline;
  line-height: 50px;
}

#skill #skill-title p {
  font-size: 20px;
  line-height: 30px;
  font-family: "Raleway-Regular";
}

#skill #language-skills {
  padding: 30px 0;
}

#skill .skill-header {
  padding: 20px 0;
  font-size: 30px;
  line-height: 40px;
  font-family: "Raleway-Medium";
}

#skill .row {
  justify-content: center;
}

#skill .row {
  justify-content: center;
}

#skill .skill {
  position: relative;
  height: 150px;
  width: 100%;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #eeeeee18;
  transition: all 0.3s ease;
}

#skill .skill:hover {
  border: 1px solid #eee;
  background-color: #eeeeee49;
}

#skill .skill .skill-icon {
  padding-top: 17px;
}

#skill .skill .skill-icon img {
  height: 50px;
}

#skill .skill .skill-name {
  line-height: 49px;
  font-size: 25px;
  padding: 17px 0;
}

@media (max-width: 575px) {
  #skill .skill .skill-name {
    font-size: 20px;
  }
}

/*------------------------------------------------------------------
Experience Section
------------------------------------------------------------------*/

#experience {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  font-family: "Raleway-Regular";
  padding: 100px 0;
}

#experience #experience-title h2 {
  font-size: 40px;
  font-family: "Roboto-Mono";
  line-height: 50px;
  text-decoration: underline;
}

#experience #experiences {
  margin-top: 25px;
}

#experience #experiences .experience-item {
  padding: 25px;
}

#experience #experiences .experience-item p {
  font-size: 18px;
}

/*------------------------------------------------------------------
Project Section
------------------------------------------------------------------*/

#projects {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  font-family: "Raleway-Regular";
  padding: 100px 0;
}

#projects #project-title h2 {
  font-size: 40px;
  font-family: "Roboto-Mono";
  line-height: 50px;
  text-decoration: underline;
}

#projects .col-lg-4.col-sm-12.project {
  padding-top: 10px;
  padding-bottom: 10px;
}

#projects .project .card {
  background-color: #eeeeee18;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

#projects .project .card:hover {
  background-color: #05161f;
  border: 1px solid #eeeeee;
}

#projects .project .card .card-header .project-links {
  float: right;
}

#projects .project .card .card-header {
  border: 0;
  background-color: transparent;
  padding: 10px 20px;
  font-family: "Roboto-Mono";
}

#projects .project .card .card-header .project-links .project-link,
#projects .project .card .card-header .project-links .project-github {
  padding: 0 5px;
}

#projects .project .card .card-header .project-links .project-link a,
#projects .project .card .card-header .project-links .project-github a {
  line-height: 1.5;
  font-size: 1.25rem;
}

#projects .project .card .card-header .project-links .project-link a:hover,
#projects .project .card .card-header .project-links .project-github a:hover {
  color: #eee;
}

#projects .project .card .card-body {
  padding: 10px 20px;
}

#projects .project .card .card-body p {
  margin: 0;
}

#projects .project .card .card-footer {
  border: 0;
  background-color: transparent;
  padding: 10px 20px;
}

#projects .project .card .card-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#projects .project .card .card-footer li {
  float: left;
}

#projects .project .card .card-footer li span {
  display: block;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  font-family: "Roboto-Mono";
}

#projects .project .card .card-footer li span:hover {
  color: #eee;
}

#projects .btn {
  margin: 10px;
  height: 60px;
  width: 200px;
  text-align: center;
  font-family: "Roboto-Mono";
}

/*------------------------------------------------------------------
Contact Section
------------------------------------------------------------------*/

#contact {
  position: relative;
  z-index: 2;
  width: 100%;
  font-family: "Raleway-Regular";
  padding: 150px 0 100px 0;
}

#contact #contact-title h2 {
  font-size: 40px;
  font-family: "Roboto-Mono";
  line-height: 50px;
  text-decoration: underline;
}

#contact p {
  font-size: 20px;
  font-family: "Raleway-Regular";
  padding-top: 20px;
}

#contact .btn {
  margin: 10px;
  height: 60px;
  width: 200px;
  text-align: center;
  font-family: "Roboto-Mono";
}

#contact #social-links {
  padding: 30px 0;
}

#contact #social-links a {
  font-size: 20px;
  padding: 0 10px;
}

#contact #social-links a:hover {
  color: #eee;
}

#contact #developed {
  padding-top: 50px;
}

#contact #developed p {
  font-size: 15px;
}

#contact #developed a:hover {
  color: #eee;
}

/*------------------------------------------------------------------
Social Sticky
------------------------------------------------------------------*/

#social-sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 60px;
  z-index: 10;
}

#social-sticky a {
  color: #aaa;
  transition: color 0.3s ease;
}

#social-sticky a:hover {
  color: #eee;
}

#social-sticky i {
  font-size: 20px;
  padding: 10px;
}

#social-sticky .line {
  height: 100px;
  width: 0;
  border: 1px #aaa solid;
  margin: 0 30px;
}

@media (max-width: 840px) {
  #social-sticky {
    display: none;
  }
}

#to-top {
  position: fixed;
  bottom: 10px;
  right: 0;
  width: 100px;
  text-align: center;
  z-index: 10;
}

#to-top a {
  display: inline-block;
  color: #000;
  background-color: #aaa;
  transition: background-color 0.3s ease;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

#to-top a:hover {
  background-color: #eee;
}
